*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #ffc700;
    --text-color: #151617;
  }
body{
    background: linear-gradient(-38deg, #b1b1b1 50%, #eeede9 50%);
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #748034;
}
.link:hover {
    color: #7dda1a;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 16px 10px 30px rgb(0 0 0 / 30%);  
}
.box-container {
    display: flex;
}
.left-box {
    width: 420px;
    background-color: var(--main-color);
}
.right-box {
    flex: 1;
    margin-bottom: 50px;
}

.highlighted{
    background: var(--text-color);
}
.text-bold {
    font-weight: bold;
}

/* Header */
.header {
    align-items: center;
}
.header .left-box {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.photo-box {
    position: relative;
}
.photo-box::before, .photo-box::after {
    content: '';
    position: absolute;
    width: 265px;
    height: 327px;
    border: 3px solid var(--text-color);
}
.photo-box::before {
    top: -20px;
    left: -20px;
}
.photo-box::after {
    bottom: -20px;
    right: -20px;
}
.photo {
    width: 265px;
    position: relative;
    z-index: 1;
}

.header-right-box {
    display: flex;
    justify-content: flex-end;
}
.full-name {
    position: relative;
    z-index: 1;
    padding: 0 140px 0 20px;
    font-family: 'Acme', sans-serif;
    font-size: 65px;
    color:  var(--main-color);
    text-transform: capitalize;
}
.position{
    position: relative;
    padding-left:119px;
    margin: 16px 0;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    color: var(--text-color);
    text-transform: uppercase;
}
.position::before, .position::after {
    content: '';
    position: absolute;
    width: 299px;
    height: 52px;
    border: 3px solid var(--text-color);
}
.position::before {
    top: -22px;
    left: 83px;
}
.position::after {
    bottom: -18px;
    left: 98px;
}
/*  /Header */

/* Main */
.title {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    display: inline-block;
    padding: 0 50px 0 20px;
}
.content-text {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
    padding: 20px 50px 0;
}
.content-list {
    padding: 20px;
    padding-bottom: 50px;
}
.content-list-text {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}
.icon{
    width: 18px;
    margin-right: 10px;
    fill:white;
}

.skill-level {
    padding-bottom: 20px;
    font-size: 20px;
}
.skill-level::before, .skill-level::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background: #d4d4d4;
}
.skill-level::before {
    background: var(--text-color);
    z-index: 1;
}
.skill-level-50::before {
    width: 50%;
}
.skill-level-60::before {
    width: 60%;
}
.skill-level-75::before {
    width: 75%;
}
/* /Main */

/* Footer */
.footer-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: var(--main-color);
    margin-left: 50px;
}

.footer-follow-me {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 1.5;
    margin-right: 10px;
}

.footer-year {
    display: inline-block;
    margin-right: 15px;
}

.rsschool{
    width: 100px;
    display: inline-block;
}
/*  /Footer */

@media (max-width: 1065px) {
    .full-name{
        padding: 0 100px 0 20px;
    }
}
@media (max-width: 1000px) {
    .full-name{
        padding: 0 50px 0 20px;
        font-size: 60px;
    }
    .position{
        font-size: 24px;
    }
    .position::before{
        left: 76px;
    }
    .position::after{
        left: 91px;
    }
    .left-box{
        width: 380px;
    }
    .content-list-text{
        font-size: 16px;
    }
    .content-text{
        font-size: 18px;
    }
    .footer-follow-me{
        font-size: 18px;
    }
}
@media (max-width: 880px) {
    .container{
        margin: 0;
    }
    .box-container {
        display: block;
    }
    .left-box{
        width: 100%;
        background-color: white;
    }
    .left-box, .right-box {
        margin-bottom: 20px;
    }
    .header{
        align-items: baseline;
    }
    .header .right-box {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .full-name{
        font-size: 50px;
    }
    .position{
        font-size: 20px;
        padding-left: 77px;
        margin: 14px 0;
    }
    .position::before, .position::after{
        width: 220px;
        height: 42px;
    }
    .position::before{
        top: -20px;
        left: 56px;
    }
    .position::after{
        left: 68px;
        bottom: -16px;
    }
    .mobile-box{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .mobile-box .list-contacts, 
    .mobile-box .language {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column-reverse-mobile {
        display: flex;
        flex-flow: column-reverse;
    }

    .mobile-icon{
        fill: var(--text-color);
        margin-right: 5px;
    }

    .skills {
        width: 80%;
        margin: 0 auto;
    }

    .footer .left-box {
        display: none;
    }
    .footer .right-box{
        margin-bottom: 0;
    }
    .footer-line {
        margin-left: 0;
    }
}
@media (max-width: 505px) {
    .title{
        font-size: 30px;
    }
    .full-name{
        font-size: 45px;
    }
    .position {
        font-size: 18px;
        padding-left: 86px;
        margin: 14px 0;
    }
}
@media (max-width: 400px) {
    .full-name{
        font-size: 40px;
        padding: 0 30px 0 20px;
    }
    .content-list-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rsschool{
        width: 80px;
    }
}


